<div ng-init="ctrl.init()">

    <nav class="navbar navbar-light bg-dark">
        <img src="assets/icons/arrow-left.svg" class="vc-icon" ui-sref="home" />
        <span class="vc-navbar-text">MINHA PERSONAL STYLIST</span>
    </nav>
    
    <div class="row col-12">
	    <!-- mannequin -->
	    <div class="col-6 mannequin">
	        <div ng-repeat="bodyPosition in ctrl.BODY_POSITIONS"
	            class="mannequin-{{bodyPosition.name}}">
	            <div 
	               ng-repeat="closetClothing in bodyPosition.closetClothings | orderBy: 'zIndex' track by $index" 
	                class="form-control">
	                {{closetClothing.clothing.name}}
	                <div class="float-right" style="font-size: 0.6rem">
	                   <img src="assets/icons/zindex.svg" style="width: 0.6rem;" />{{closetClothing.zIndex}}
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <!-- Random options -->
	    <div class="col-6">
	        <md-switch ng-model="ctrl.isFancy" md-invert>
                Chique
            </md-switch>

            <div class="row col-9" style="margin-bottom: 20px;">
	            <img src="assets/icons/suitcase.png" 
	            	alt="suitcase" style="height: calc(2.25rem + 2px); margin-right: 10px;" />
	
	            <select ng-model="ctrl.selectedBaggage" class="form-control col-6" style="float: left;">
	            	<option ng-value="null">Todas as roupas</option>
	            	<option ng-value="baggage.id" ng-repeat="baggage in ctrl.baggages">{{::baggage.name}}</option>
	            </select>
            </div>
             
		    <button class="btn btn-secondary" ng-click="ctrl.generateRandomCloset()">Escolher roupa</button>
	    </div>
	    
    </div>
</div>